.main{
    width: 100%;
}

#usersContainer{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 50px;
}

.user-card{
    width: 100%;
    display: flex;
    flex-direction: row;
    background-color: red;
}